<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Anthony Licari
http://anthonylicari.com
Released for free under a Creative Commons Attribution 3.0 License

Name       : Le Chic
Description: A two-column template with multiple regions.
Version    : 1.0
Released   : 20091119

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Jarn {% block title %}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
</head>

<body>
<div id="wrapper"><!-- Begin Wrapper -->

    <div id="preface"><!-- Begin Top Area -->

        <div id="left"><!-- Begin Top Area Left -->
            <ul>
                <li><a href="#">Some</a></li>
                <li><a href="#">Secondary</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">For</a></li>
                <li><a href="#">You</a></li>
            </ul>
        </div><!-- End Top Area Left -->

        <div id="right"><!-- Begin Top Area Right -->
		    <ul>
			    <li><a href="#">More</a></li>
				<li><a href="#">Information</a></li>
			</ul>
        </div><!-- End Top Area Right -->

    </div><!-- End Top Area -->

    <div id="header">
            <div id="logo">
                <h1><a href="#">Jarn</a></h1>
				<h2>A Premium versatile theme with multiple regions</h2>
            </div>
            <div id="middle">
            <p>You can put an ad or other information here</p>
            </div>
            <div id="search">

			</div>
    </div>

     <div id="navigation" class="menu">
         <ul>
         <li><a href="#">Home</a>
         <ul>
         <li><a href="#">Suckerfish</a></li>
         <li><a href="#">Drop</a></li>
         <li><a href="#">Downs</a></li>
         </ul>
         </li>
         <li><a href="#">BlackBerry</a></li>
         <li><a href="#">Drupal</a></li>
         <li><a href="#">Wordpress</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">Contact</a></li>
         </ul>
         </div>


    <div id="main_content">
		<div id="main_content_header">
		</div>
        <div id="main_content_inner">
         {% block content %}
			        <div class="post">
			            <h2 class="title"><a href="#">Welcome to Le Chic </a></h2>
			            <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			            <div class="entry">
				        <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
			            </div>
			            <div><a href="#" class="links">View Full Story</a><a href="#" class="comments">View Comments</a></div>
		            </div>
		            <div class="post">
			            <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
			            <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			            <div class="entry">
				        <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
			            </div>
			            <div><a href="#" class="links">View Full Story</a><a href="#" class="comments">View Comments</a></div>
		            </div>
		            <div class="post">
			            <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
			            <p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			            <div class="entry">
				        <p>Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. </p>
			            </div>
			            <div><a href="#" class="links">View Full Story</a><a href="#" class="comments">View Comments</a></div>
                       </div>
             {% endblock %}
			</div>
		<div id="main_content_footer">
		</div>
    </div>

            <div id="sidebar">

	            <div id="sidebar_top">
				    <div class="block block_content">
					    <div class="block_header"></div>
						<h3>Aliquam tempus</h3>
						<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
                        <div class="block_bottom"></div>
					</div>
					<div class="block block_content">
					    <div class="block_header"></div>
						<h3>Pellenteque ornare </h3>
						<ul>
							<li><a href="#">Nec metus sed donec</a></li>
							<li><a href="#">Magna lacus bibendum mauris</a></li>
							<li><a href="#">Velit semper nisi molestie</a></li>
							<li><a href="#">Eget tempor eget nonummy</a></li>
							<li><a href="#">Nec metus sed donec</a></li>
							<li><a href="#">Velit semper nisi molestie</a></li>
							<li><a href="#">Eget tempor eget nonummy</a></li>
							<li><a href="#">Nec metus sed donec</a></li>
						</ul>
					    <div class="block_bottom"></div>
					</div>
	            </div>

	            <div id="sidebar_bottom_left">
				    <div class="block block_content">
					    <div class="block_header"></div>
				    <h3>Bibendum mauris</h3>
						<ul>
							<li><a href="#">Nec metus sed donec</a></li>
							<li><a href="#">Magna lacus bibendum mauris</a></li>
							<li><a href="#">Velit semper nisi molestie</a></li>
							<li><a href="#">Eget tempor eget nonummy</a></li>
							<li><a href="#">Nec metus sed donec</a></li>
						</ul>
						<div class="block_bottom"></div>
					</div>
	            </div>

	            <div id="sidebar_bottom_right">
				<div class="block block_content">
					    <div class="block_header"></div>
				    <h3>Turpis nulla</h3>
						<ul>
							<li><a href="#">Nec metus sed donec</a></li>
							<li><a href="#">Magna lacus bibendum mauris</a></li>
							<li><a href="#">Velit semper nisi molestie</a></li>
							<li><a href="#">Eget tempor eget nonummy</a></li>
							<li><a href="#">Magna lacus bibendum mauris</a></li>
							<li><a href="#">Velit semper nisi molestie</a></li>
							<li><a href="#">Eget tempor eget nonummy</a></li>
							<li><a href="#">Nec metus sed donec</a></li>
						</ul>
						<div class="block_bottom"></div>
					</div>
	            </div>

            </div>
        <div style="clear: both;">&nbsp;</div>

</div>

	<div id="footer">
        <div id="footer_regions">
	        <div id="footer_left">
			    <h3>PostScript Left</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis tortor sed risus elementum sed rhoncus leo congue.
				Curabitur massa lacus, sollicitudin eu pulvinar non, imperdiet sed erat. In in est metus, ut porta arcu. Pellentesque sodales
				viverra elit et suscipit. Maecenas elit nisi, adipiscing vitae volutpat vestibulum, dictum eu nisl. Morbi nisi lacus, lobortis
				a bibendum sed, convallis et magna. Suspendisse potenti.</p>
	        </div>


	        <div id="footer_leftmiddle">
			    <h3>PostScript Left Middle</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis tortor sed risus elementum sed rhoncus leo congue.
				Curabitur massa lacus, sollicitudin eu pulvinar non, imperdiet sed erat. In in est metus, ut porta arcu. Pellentesque sodales
				viverra elit et suscipit. Maecenas elit nisi, adipiscing vitae volutpat vestibulum, dictum eu nisl. Morbi nisi lacus, lobortis
				a bibendum sed, convallis et magna. Suspendisse potenti.</p>
	        </div>

	        <div id="footer_rightmiddle">
			    <h3>PostScript Right Middle</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis tortor sed risus elementum sed rhoncus leo congue.
				Curabitur massa lacus, sollicitudin eu pulvinar non, imperdiet sed erat. In in est metus, ut porta arcu. Pellentesque sodales
				viverra elit et suscipit. Maecenas elit nisi, adipiscing vitae volutpat vestibulum, dictum eu nisl. Morbi nisi lacus, lobortis
				a bibendum sed, convallis et magna. Suspendisse potenti.</p>
	        </div>


	        <div id="footer_right">
			    <h3>PostScript Right</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis tortor sed risus elementum sed rhoncus leo congue.
				Curabitur massa lacus, sollicitudin eu pulvinar non, imperdiet sed erat. In in est metus, ut porta arcu. Pellentesque sodales
				viverra elit et suscipit. Maecenas elit nisi, adipiscing vitae volutpat vestibulum, dictum eu nisl. Morbi nisi lacus, lobortis
				a bibendum sed, convallis et magna. Suspendisse potenti.</p>
	        </div>
		</div>
	</div>

	<div id="footer_bottom">

		<div id="footer_bottom_region">
        &copy; yoursitename.com | Le Chic created by <a href="http://anthonylicari.com" title="Web Development, BlackBerry, Drupal, Wordpress Themes and Tutorials">Anthony Licari</a>
		</div>

	</div>

</body>
</html>